header{
    background-color: #fff;
}
header ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #000000 !important;
  margin:0px 15px;
}
header .get_started {
  font-family: "Circular Std" !important;
  background: #03464a;
  border: 1px solid #03464a;
  border-radius: 5px;
  color: #ffffff !important;
  font-weight: 500; 
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
  padding:12px 20px !important;
  margin-right: 0px !important;
}
.show {
  background: #F5F7F7;
  border-radius: 8px;

}
.dropdown-item:focus, .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: none !important;
}
@media screen and (max-width:992px){
  .show {
    background: #F5F7F7;
    border-radius: 8px;
    padding: 5px 10px;
} 
header .navbar{
  z-index: 1111111 !important;
}
}
